@font-face {
  font-family: iranSansWeb;
  font-weight: normal;
  src: url('../fonts/IRANSansWeb\(FaNum\).ttf');
}

html::-webkit-scrollbar {
  background-color: #0e2a47;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-image: linear-gradient(to top ,transparent ,#f45992, transparent) ;
}

html::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
  background-image: linear-gradient(to top ,transparent ,#f45992, transparent) ;
}

html::-o-scrollbar {
  background-color: #0e2a47;
  width: 8px;
}

html::-o-scrollbar-thumb {
  border-radius: 50px;
  background-image: linear-gradient(to top ,transparent ,#f45992, transparent) ;
}

html::-o-scrollbar-thumb:hover {
  border-radius: 50px;
  background-image: linear-gradient(to top ,transparent ,#f45992, transparent) ;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSansWeb;
  direction: rtl;
}

*:focus {
  outline: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 55px 0;
  background-image: url('../img/Sprinkle.svg');
  background-size: cover;
}

ul {
  list-style-type: none;
}

#addElement {
  box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.6);
}

.newItem,
.element {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.422);
  transition: all 0.6s;
}

input[type='text'] {
  background-color: transparent;
}

.done {
  backdrop-filter: blur(3px);
  opacity: 0.2;
}

.tm {
  border-radius: 5px;
  width: 40%;
  box-shadow: 1px 1px 25px #0a1827c9;
  background-color: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(3px);
}

#containerElements:empty::before {
  content: ' اِی بابا، من نتونستم کاری پیدا کنم :( ';
  display: block;
  text-align: center;
  background-color: #0e2a47;
  padding: 9px;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  font-size: 15px;
  color: #f0ad4e;
}

.swal-footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.swal-button--cancel {
  background-color: transparent;
  border: 0;
  font-weight: normal;
}
.swal-button--cancel:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.swal-button--cancel:hover {
  background-color: transparent !important;
}
.swal-button--catch {
  background-image: linear-gradient(to right, #db3445, #f71735);
}

.swal-button:focus,
.swal-button--catch:focus {
  box-shadow: none;
}

.swal-text{
  direction: rtl;
  text-align: center;
}

.toastify{
  direction: rtl;
  text-align: right;
}

.element, .newItem {
  display: block;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.box-control-edit {
  background-color: #fff;
  border-color: #d9534f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #d9544f60;
}

.box-control-add {
  background-color: #fff;
  border-color: #5cb85c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #5cb85c50;
}

.element input::placeholder{
  color: rgb(161, 161, 161);
  font-size: .9rem;
}

.github-corner:hover .octo-arm { 
  animation: octocat-wave 560ms ease-in-out; 
} 

@keyframes octocat-wave { 
  0%, 100% { 
    transform: rotate(0); 
  }
  
  20%, 60% { 
    transform: rotate(-25deg); 
  } 
  
  40%, 80% { 
    transform: rotate(10deg); 
  } 
} 

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none; 
  } 
  
  .github-corner .octo-arm { 
    animation: octocat-wave 560ms ease-in-out; 
  } 
}
