@font-face {
  font-family: iranSansWeb;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb\(FaNum\).ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSansWeb;
  direction: rtl;
}

*:focus {
  outline: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/Sprinkle.svg");
  background-size: cover;
}

ul {
  list-style-type: none;
}

#addElement {
  box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.6);
}

.newItem,
.element {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.422);
  transition: all 0.6s;
}

input[type="text"] {
  background-color: transparent;
}

.done {
  backdrop-filter: blur(3px);
  opacity: 0.2;
}

.tm {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.253);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
